.header{
    &__wrapper{
        display: flex;
        padding-top: 40px;
        padding-bottom: 35px;
        justify-content: space-between;
    }
    &__help{
        i{
            margin-right: 10px;
        }
    }
    &__logo{
        display: none;
    }
    &__lang{
        i{
            margin-left: 5px;
        }
    }
    &__menu{
        a{
            color: #002858;
            font-family: Roboto;
            line-height: 1;
            font-size: 14px;
            font-weight: 400;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
        &-active{
            color: #ffbc65 !important;
            &:hover{
                text-decoration: none;
                cursor: default;
            }
        }
    }

    &__left{
        display: flex;
        align-items: center;
        a{
            color: #002858;
            font-size: 14px;
            font-weight: 400;
            margin-right: 50px;
            line-height: 1;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    &__glass{
        width: 50px;
        height: 21px;
        border-radius: 5px;
        background-color: #0253b3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav{
    height: 80px;
    background-color: #eff2f4;

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        img{
        }
    }
}

.navlist{
    a{
        color: #002858;
        font-size: 18px;
        font-weight: 400;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
    }
}