// main
@import 'settings';
@import 'libs';


html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $Roboto;
  color: #5d6475;
  box-sizing: border-box;
  position: relative;
  *{
    box-sizing: border-box;
  }
}

body{
  height: 100%;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

button{
  outline:none;
  border: none;
}

input, textarea{
  outline: none;
}

h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}

// настройки еще инпут исте осд дан

// import files of blocks [Basic]d
@import "../../blocks/section/section";

// Index //Главная
@import "../../blocks/header/header";
@import "../../blocks/elements/elements";
@import "../../blocks/slider/slider";
@import "../../blocks/news/news";
@import "../../blocks/about/about";
@import "../../blocks/team/team";
@import "../../blocks/contacts/contacts";
@import "../../blocks/support/support";


//AboutUs //Об учереждении
@import "../../blocks/aboutus/aboutus";

//Management //Руководство
@import "../../blocks/management/management";

//notice-single.html //Объявления отдельный пост
@import "../../blocks/notice/notice";

//agenda.html //Объявления все
@import "../../blocks/agenda/agenda";

//procurement.html //Госзакупки
@import "../../blocks/procurement/procurement";
















// включи нормалайз css


// Footer :)
@import "../../blocks/footer/footer";



// importing media queries
@import "media";
