.button{
    border-radius: 10px;
    border: 2px solid #007cad;
    background: #007cad;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    -webkit-box-shadow: 0 3px 4px 2px #e2e4e4;
    box-shadow: 0 3px 4px 2px #e2e4e4;

    &:hover{
        color: white;
        box-shadow: 0 3px 4px 2px #a2a2a2;
        cursor: pointer;    
        text-decoration: none;
    }

    &_white{
        background: #fff;
        color: #007cad;
        &:hover{
            color: #007cad;
        }
    }
}