.support{
    &__wrapper{
        padding: 80px 0;
    }
    &__line{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        align-items: center;
        img{
            margin-right: 12px;
        }

    }
}