.sidebar{
    display: flex;
    flex-direction: column;
    max-width: 275px;
    height: max-content;
    background-color: #4d5567;
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    min-height: 100%;

    &-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 180px;
        width: 100%;
        padding-top: 28px;
        &__pic{
            border-radius: 50%;
            width: 90px;
            height: 90px;
            border: 3px solid #838895;
            background-size: cover;
            background-position: 50% 50%;
        }
        span{
            font-size: 14px;
            text-align: center;
            margin-top: 12px;
            color: #fff;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    &-nav{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        margin-bottom: 13px;
        a{
            transition: color 0.2s linear;
            width: 100%;
            padding: 14px 0px 14px 20px;
            margin: 0px;
            font-size: 14px;
            font-weight: 500;
            border-left: 2px solid #4d5567;
            position: relative;
            color: #949db4;
            height: 51px;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            position: relative;

            &:hover{
                text-decoration: none;
                color: #d5dbea;
                background-color: #313643;
                border-left-color: $green;
                i{
                    color: $green;
                } 
            }

            i{
                margin-right: 20px;
                width: 15px;
            }
            

            .message-count{
                background: $green;
                height: 20px;
                width: 20px;
                text-align: center;
                font-size: 12px;
                color: white; 
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                position: absolute;
                right: 20px;
            }
        }

        .nav-active{
            text-decoration: none;
            color: #d5dbea;
            background-color: #313643;
            border-left-color: $green;
            i{
                color: $green;
            } 
        }
    }

    &-sub{
        background-color: #313643;
        border-color: #313643 !important;

        i{
            opacity: 0;
        }

        &:hover{
            border-color: #313643 !important;
        }
    }

    .sub-active{
        color: #d5dbea;
    }
}