.about{

    &__wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__item{
        display: flex;
        justify-content: space-between;
    }

    &__text{
        display: flex;
        max-width: 445px;
        flex-direction: column;
    }
    &__link{
        color: #0253b3;
        font-size: 14px;
        margin-top: 30px;
        font-weight: 500;
        line-height: 22px;
    }
}