.catalog{
    width: 67%;

    &__wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    &__breadcrumbs{
        display: flex;
        color: #a1a7b4;
        font-size: 12px;

        a{
            color: #a1a7b4;
            transition: all 0.25s ease;
            margin-right: 5px;

            &:hover{
                text-decoration: none;
                color: $green;
            }
        }
        .bread-active{
            color: $green;
            margin-left: 5px;
        }
    }

    &__title{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__results{
        display: flex;
        flex-wrap: wrap;
    }
}