.section{
    display: flex;
    justify-content: center;

    &__wrapper{
      width: 1200px;

      &_full{
        width: 100%;
      }
    }

    &__title{
      font-weight: bold;
      color: $text;
      font-size: 28px;
      text-align: center;
    }
  }
  

.abody{
  display: flex;
  width: 100%;
  padding-top: 70px;

  min-height: 100%;
  padding-left: 275px;
  position: relative;
  
}

.abody-top{
  width: 100%;
  height: 110px;
  background-color: #f4f6f9;
  padding-left: 25px;
  display: flex;
  align-items: center;
  color: #4d5567;
  justify-content: space-between;
  padding-right: 30px;
  h1{
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
  }

  a{
      color: #5D6469;
      font-size: 15px;
      transition: color 0.2s linear;

      &:hover{
          text-decoration: none;
          color: $green;
      }
  }
}

//input


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  // outline: 1px dotted #000;
  // outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
   pointer-events: none;
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}


/* style 1 */

.inputfile-1 + label {
  color: white;
  height: 43px;
  border-radius: 2px;
  background-color: $green;
  font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  opacity: 0.8;
}


.f{
  display: flex;
}

.fc{
  display: flex;
  flex-direction: column;
}

.fca{
  align-items: center;
}

.fcj{
  justify-content: center;
}


.greenButton{
  width: 100%;
  color: #fff;
  max-width: 200px;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $green;
  height: 43px;

  &:hover{
      opacity: 0.8e;
  }
}

.grayButton{
  background-color: #e8ebf0;
}

.redButton{
  background-color: #fd2d4f;
}

.donthave{
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 15px;
  color: #5d6475;
  font-weight: 600;
}

.ui-tooltip, .arrow{
  background: #000;
  color: white;
  font-size: 12px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 5px;
  text-align: center;
  border-color: black;
  padding-left: 5px;
}
.ui-tooltip{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}