.listing{
    width: 100%;
    h1{
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #4d5567;
        margin-left: 15px;
    }

    &__wrapper{
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-steps{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .step-active{
            color: $green;
            font-weight: 400;

            &:after{
                background-color: $green;
            }
        }
        .step-past{

            &:after{
                background-color: $green;
            }

            &:before{
                background-color: $green;
            }
        }

        a{
            padding: 17px 40px 17px 40px;
            color: #8A8F9A;
            font-size: 14px;
            font-weight: 300;
            position: relative;

            &:after{
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background-color: #dee2e8;
                border: 3px solid #F6F6F6;
                position: absolute;
                top: 0px;
                left: 50%;
                margin-left: -5px;
                content: " ";
            }

            &:before{
                height: 2px;
                width: 100%;
                content: " ";
                position: absolute;
                top: 6px;
                left: 50%;
                background-color: #dee2e8;
                min-width: 127px;
            }

            &:last-child{
                &:before{
                    display: none;
                }
            }
        }
    }
    h2{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
        color: #3e4453;
        margin-top: 15px;
        margin-left: 15px;
    }

    &__attn{
        padding: 10px;
        font-size: 13px;
        background-color: #f4f7f9;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    &__row{
        display: flex;
        margin-bottom: 20px;

        button{
            margin-left: 15px;
        }
    }

    &__col{
        display: flex;
        flex-direction: column;

        h3{
            color: #3e4453;
            font-weight: bold;
            font-size: 13px;
        }

        label{
            margin-bottom: 5px;
            color: #8A8F9A;
            font-size: 13px;
            font-weight: 500;
        }
        input[type=text], textarea{
            background-color: #fff;
            border: 1px solid #e7e9ef;
            color: #8A8F9A;
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            border-radius: 2px;
            padding: 2px 13px 0px 13px;
            height: 50px;
        }
        textarea{
            resize: vertical;
            padding-top: 10px;
            height: 100px;
        }
        input[type=file]{

        }
    }


    &__select{
        display: flex;
        align-items: center;
        margin-left: 15px;
        input{
            margin-right: 10px;
        }
        label{
            color: #8A8F9A;
            font-size: 13px;
            font-weight: 500;
        }
    }

    .ui-selectmenu-button.ui-button{
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 15px;
        flex-direction: row-reverse;
        justify-content: space-between;
        &:focus, &:active{
            outline: none;
        }
    }
    .timediv{
        padding-left: 15px;
        padding-right: 15px;
    }

    &__go{
        margin-left: 15px;
        color: #8A8F9A;
        font-size: 13px;
        text-decoration: underline;
        margin-top: -10px;
        transition: color 0.2s linear;

        &:hover{
            color: $green;
            text-decoration: none;
        }
    }
}

.cl3{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.cl6{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.img-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background: $green;
    color: white;
    cursor: pointer;
}

.fileButton{
    position: relative;
    
    label{
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    &_img{
        max-height: 183px;
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 220px;
        margin-bottom: 10px;
        display: none;

        img{
            width: 100%;
        }
    }

    input{
        opacity: 0;
        z-index: 1;
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}